@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

h1, h2 {
  font-size: 25px;
  font-weight: 900;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.button, .menuContainer__button, .reservation__button {
  display: block;
  width: max-content;
  padding: 16px 22px;
  background: linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  border-radius: 1000px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.button:hover, .menuContainer__button:hover, .reservation__button:hover {
  filter: brightness(1.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4), 0 0 2px rgba(0, 0, 0, 0.4);
}

.like {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}
.like i:nth-child(1) {
  position: absolute;
  font-weight: bold;
  display: none;
  background: linear-gradient(0deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.like:hover i:nth-child(1), .like:focus i:nth-child(1) {
  display: block;
  animation: 0.3s like;
}
.like i:nth-child(2) {
  position: relative;
}

.textCard, .dishes__textCard, .howItWorks__textCard {
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 10px 8px 2px rgba(0, 0, 0, 0.05), 0 0 16px rgba(0, 0, 0, 0.1);
}
.textCard__title {
  padding: 0 0 8px;
}

.loading {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #9356dc;
  animation: 0.5s fadeOut 3s forwards;
}
.loading__container {
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.loading__subtitle {
  color: #99E2D0;
}
.loading__dot {
  animation: 1s loadingDot linear infinite;
}
.loading__dot:nth-of-type(1) {
  animation-delay: 0.2s;
  width: 30px;
  height: 30px;
}
.loading__dot:nth-of-type(2) {
  animation-delay: 0.4s;
  width: 50px;
  height: 50px;
}
.loading__dot:nth-of-type(3) {
  animation-delay: 0.6s;
  width: 70px;
  height: 70px;
}
.loading__spinner {
  position: absolute;
  border: solid 1px #99E2D0;
  box-sizing: border-box;
  animation: 2.5s spin ease infinite;
}
.loading__spinner:nth-of-type(1) {
  animation-delay: 0.2s;
  width: 30px;
  height: 30px;
}
.loading__spinner:nth-of-type(2) {
  animation-delay: 0.4s;
  width: 50px;
  height: 50px;
}
.loading__spinner:nth-of-type(3) {
  animation-delay: 0.6s;
  width: 70px;
  height: 70px;
}
.loading__spinner:nth-of-type(4) {
  animation-delay: 0.8s;
  width: 90px;
  height: 90px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header__back {
  position: absolute;
  left: 25px;
  height: 32px;
  width: 32px;
  color: #353535;
  line-height: 32px;
  text-align: center;
  font-size: 22px;
}
.header__logo {
  height: 32px;
}

.footer {
  padding: 30px 25px;
  background: #353535;
  color: white;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin: 0 0 20px;
}
.footer__link {
  display: block;
  margin: 0 0 12px;
  text-decoration: none;
  color: white;
}
.footer__link:hover {
  color: #F5EDFF;
}
.footer__link i {
  width: 12px;
  padding: 0 10px 0 0;
  text-align: center;
  font-size: 12px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #EAEAEA;
  color: #353535;
}
.location__text {
  position: relative;
  padding: 0 20px;
  font-weight: 500;
}
.location__text i {
  position: absolute;
  right: 100%;
}

.reservation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  background: #F6F6F6;
  text-align: center;
}
.reservation__subtitle {
  margin: 16px 0;
}
.reservation__button {
  margin: 8px auto;
}

.howItWorks {
  padding: 50px 25px;
}
.howItWorks__title {
  margin: 0 0 32px;
}
.howItWorks__textCard {
  position: relative;
  margin: 0 0 20px 10px;
  padding: 32px;
  background: #F6F6F6;
  font-weight: 500;
}
.howItWorks__textCard i {
  color: #7E7E7E;
  padding: 0 20px 0 0;
}
.howItWorks__textCard:hover {
  background: #F5EDFF;
}
.howItWorks__textCard:hover i {
  color: #9356dc;
}
.howItWorks__textCard::before {
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  transform: translateX(-50%);
  padding: 4px;
  border-radius: 50%;
  background: #9356dc;
  color: white;
  text-align: center;
}
.howItWorks__textCard:nth-of-type(1)::before {
  content: "1";
}
.howItWorks__textCard:nth-of-type(2)::before {
  content: "2";
}
.howItWorks__textCard:nth-of-type(3)::before {
  content: "3";
}

.restaurantMenu {
  padding: 60px 25px;
  background: #F6F6F6;
}
.restaurantMenu__title {
  margin: 0 0 32px;
}
.restaurantMenu__grid {
  display: grid;
  grid-auto-rows: 280px;
}

.menuCard, .menuCard--new {
  position: relative;
  margin: 0 0 25px 0;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 8px 2px rgba(0, 0, 0, 0.05), 0 0 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.2s;
}
.menuCard:hover, .menuCard--new:hover {
  box-shadow: 0 10px 8px 2px rgba(0, 0, 0, 0.2), 0 0 16px rgba(0, 0, 0, 0.3);
}
.menuCard:nth-of-type(2) img, .menuCard--new:nth-of-type(2) img {
  object-position: 0 40%;
}
.menuCard a, .menuCard--new a {
  text-decoration: none;
  color: inherit;
}
.menuCard__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.menuCard__content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.menuCard__body {
  padding: 16px;
}
.menuCard__title {
  margin: 0 0 4px;
}
.menuCard .like, .menuCard--new .like {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 16px 16px 30px;
}
.menuCard--new {
  position: relative;
}
.menuCard--new::after {
  content: "Nouveau";
  position: absolute;
  pointer-events: none;
  top: 16px;
  right: 16px;
  padding: 5px 10px;
  background: #99E2D0;
  color: #008766;
  border-radius: 3px;
}

.menuImg {
  width: 100%;
  height: 300px;
  margin: 0 0 -55px;
  object-fit: cover;
}

.menuContainer {
  position: relative;
  padding: 30px 14px;
  background: #F6F6F6;
  border-radius: 40px 40px 0 0;
}
.menuContainer__title {
  display: flex;
  justify-content: space-between;
  margin: 0 8px;
}
.menuContainer__title h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
}
.menuContainer__button {
  margin: 50px auto;
  padding: 16px 50px;
}

.dishes {
  margin: 40px 0 0;
}
.dishes__title {
  position: relative;
  margin: 0 8px 30px;
  font-size: 20px;
  font-weight: 300;
}
.dishes__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  display: block;
  background: #99E2D0;
  width: 50px;
  height: 4px;
}
.dishes__textCard {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 20px;
  overflow: hidden;
  opacity: 0;
}
.dishes__textCard:nth-of-type(1) {
  animation: 1s fadeIn 0.7s;
  animation-fill-mode: forwards;
}
.dishes__textCard:nth-of-type(2) {
  animation: 1s fadeIn 0.9s;
  animation-fill-mode: forwards;
}
.dishes__textCard:nth-of-type(3) {
  animation: 1s fadeIn 1.1s;
  animation-fill-mode: forwards;
}
.dishes__textCard:nth-of-type(4) {
  animation: 1s fadeIn 1.3s;
  animation-fill-mode: forwards;
}
.dishes__textCard:nth-of-type(5) {
  animation: 1s fadeIn 1.5s;
  animation-fill-mode: forwards;
}
.dishes__textCard:nth-of-type(6) {
  animation: 1s fadeIn 1.7s;
  animation-fill-mode: forwards;
}
.dishes__textCard:nth-of-type(7) {
  animation: 1s fadeIn 1.9s;
  animation-fill-mode: forwards;
}
.dishes__textCard:nth-of-type(8) {
  animation: 1s fadeIn 2.1s;
  animation-fill-mode: forwards;
}
.dishes__textCard:nth-of-type(9) {
  animation: 1s fadeIn 2.3s;
  animation-fill-mode: forwards;
}
.dishes__textCard:nth-of-type(10) {
  animation: 1s fadeIn 2.5s;
  animation-fill-mode: forwards;
}
.dishes__textCard__title {
  margin: 0 0 4px;
}
.dishes__textCard__text {
  padding: 16px 0 16px 16px;
  white-space: nowrap;
  overflow: hidden;
}
.dishes__textCard__text * {
  letter-spacing: -0.5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dishes__textCard__price {
  margin: auto 0 0 auto;
  padding: 16px;
}
.dishes__textCard__addToCard {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -65px 0 0;
  min-width: 65px;
  background: #99E2D0;
  font-size: 24px;
}
.dishes__textCard__addToCard i {
  transition: 0.5s;
  transform: rotate(0);
  color: white;
}
.dishes__textCard:hover .dishes__textCard__addToCard, .dishes__textCard:focus .dishes__textCard__addToCard {
  margin: 0;
}
.dishes__textCard:hover .dishes__textCard__addToCard i, .dishes__textCard:focus .dishes__textCard__addToCard i {
  transform: rotate(360deg);
}

@media (min-width: 768px) {
  .reservation, .howItWorks, .restaurantMenu, .menuContainer, .footer {
    padding-left: 200px;
    padding-right: 200px;
  }

  .menuImg {
    height: 500px;
    margin: 0 0 -150px;
  }

  .menuContainer {
    padding-top: 100px;
    border-radius: 100px 100px 0 0;
  }
}
@media (min-width: 992px) {
  .restaurantMenu__grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
  }
}
@media (min-width: 1400px) {
  .reservation, .howItWorks, .restaurantMenu, .menuContainer, .footer {
    padding-left: 400px;
    padding-right: 400px;
  }
}
@keyframes like {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loadingDot {
  0%, 49% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

/*# sourceMappingURL=styles.css.map */
