@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// Variables

$lightGray: #F6F6F6;
$gray: #7E7E7E;
$darkGray: #353535;
$lightPurple: #F5EDFF;
$purple: #9356dc;
$pink: #ff79da;

// Styles basiques

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,p{
    margin: 0;
}

h1,h2{
    font-size: 25px;
    font-weight: 900;
}

p{
    font-size: 17px;
    font-weight: 300;
}

// Composants

.button{
    display: block;
    padding: 16px 22px;
    background: linear-gradient(350deg, $purple 0%, $pink 100%);
    border-radius: 1000px; // Bordure énorme pour garantir l'effet bouton pile
    color: white;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 3px 5px rgb(0 0 0/.2);
}

.textCard{
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0 10px 8px 2px rgb(0 0 0/.05),
                0 0 16px rgb(0 0 0/.1);
    
    &__title{
        padding: 0 0 8px;
    }

}

// Blocs

.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    box-shadow: 0 0 10px rgb(0 0 0/.5);

    &__logo{
        height: 32px;
    }
}

.footer{
    padding: 30px 25px;
    background: $darkGray;
    color: white;

    &__title{
        font-family: 'Shrikhand', cursive;
        font-weight: 100;
        margin: 0 0 20px;
    }

    &__link{
        display: block;
        margin: 0 0 12px;
        text-decoration: none;
        color: white;

        &:hover{
            color: $lightPurple;
        }

        i{
            width: 12px;
            padding: 0 10px 0 0;
            text-align: center;
            font-size: 12px;
        }
    }
}

.location{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #EAEAEA;
    color: $darkGray;

    &__text{
        position: relative;
        padding: 0 20px;
        font-weight: 500;

        i{
            position: absolute;
            right: 100%;
        }
    }
}

.reservation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
    background: $lightGray;
    text-align: center;

    &__subtitle{
        margin: 16px 0;
    }

    &__button{
        @extend .button;
        margin: 8px auto;
    }
}

.howItWorks{
    padding: 50px 25px;

    &__title{
        margin: 0 0 32px;
    }

    &__textCard{
        @extend .textCard;
        position: relative;
        margin: 0 0 20px 10px;
        padding: 32px;
        background: $lightGray;
        font-weight: 500;     

        i{
            color: $gray;
            padding: 0 20px 0 0;
        }

        &:hover{
            background: $lightPurple;

            i{
                color: $purple;
            }
        }

        &::before{
            position: absolute;
            left: 0;
            width: 16px;
            height: 16px;
            transform: translateX(-50%);
            padding: 4px;
            border-radius: 50%;
            background: $purple;
            color: white;
            text-align: center;
        }

        @for $i from 1 through 3 {
            &:nth-of-type(#{$i})::before { content: "#{$i}"; }
        }
    }
}

.restaurantMenu{
    padding: 60px 25px;
    background: $lightGray;

    &__title{
        margin: 0 0 32px;
    }
    
    &__grid{
        display: grid;
        grid-auto-rows: 280px;
    }
}

.menuCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 25px 0;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 8px 2px rgb(0 0 0/.05),
                0 0 16px rgb(0 0 0/.1);
    overflow: hidden;

    &__img{
        position: relative;
        height: 100%;
        img{
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__body{
        display: flex;
        justify-content: space-between;
        padding: 16px;
    }

    &__title{
        margin: 0 0 4px;
    }

    &__like{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 8px;
        border: none;
        background: none;
        font-size: 24px;

        i:nth-child(1){
            position: absolute;
            font-weight: bold;
            display: none;
            background: linear-gradient(0deg, $pink 0%, $purple 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &:hover,&:focus{
            i:nth-child(1){
                display: block;
                animation: .3s like;
                animation-fill-mode: forwards;
            }
        }

        i:nth-child(2){
            position: relative;
        }
    }
}

@keyframes like {
    0% { clip-path: inset(100% 0 0 0); }
    100% { clip-path: inset(0); }
}

// .\dart-sass\sass sass\styles.scss css\styles.css --watch